In [3]:
import os
import pandas as pd
import numpy as np
from datetime import timedelta

# Merge excel files
path = "pueblos_magicos.csv"

dataset_df = pd.read_csv(path, encoding = 'unicode_escape')

dataset_df

                  estado                municipio  ano_ingreso
0         Aguascalientes         Real de Asientos         2006
1         Aguascalientes                 Calvillo         2012
2         Aguascalientes       San Jose de Gracia         2015
3        Baja California                   Tecate         2012
4    Baja California Sur             Todos Santos         2006
..                   ...                      ...          ...
106            Zacatecas  Jerez de Garcia Salinas         2007
107            Zacatecas  Teul de Gonz lez Ortega         2011
108            Zacatecas               Sombrerete         2012
109            Zacatecas                    Pinos         2012
110            Zacatecas               Nochistlan         2012

[111 rows x 3 columns]

In [4]:
columns_titles = ["municipio","estado", "ano_ingreso"]
dataset_df = dataset_df.reindex(columns=columns_titles)

dataset_df.reset_index(level=0, inplace=True)
dataset_df.rename(columns={'index': 'id', 'municipio': 'town', 'estado': 'state', 'ano_ingreso': 'year_entered'}, inplace=True)
dataset_df

      id                     town                state  year_entered
0      0         Real de Asientos       Aguascalientes          2006
1      1                 Calvillo       Aguascalientes          2012
2      2       San Jose de Gracia       Aguascalientes          2015
3      3                   Tecate      Baja California          2012
4      4             Todos Santos  Baja California Sur          2006
..   ...                      ...                  ...           ...
106  106  Jerez de Garcia Salinas            Zacatecas          2007
107  107  Teul de Gonz lez Ortega            Zacatecas          2011
108  108               Sombrerete            Zacatecas          2012
109  109                    Pinos            Zacatecas          2012
110  110               Nochistlan            Zacatecas          2012

[111 rows x 4 columns]