# Minimum anual temperature

In this notebook 20 excel files are read as panda's dataframes. For each dataframe, which corresponds to a year, the columns that contain the state and the anual minimum temperature (°C) are selected and coherced into a new pandas dataframe.  Then, a colum named year is added. Each dataframe is concatenated with the last one, ending up with a dataframe with three columns and 640 observations. This is achieved through a for loop.
Data is provided by CONAGUA, and is available at the web page https://datos.gob.mx/busca/dataset/temperatura-minima-excel

In [1]:
#Call the dependencies
import pandas as pd

In [2]:
#Let's create a list of the years of interest
years =  [2000+i for i in range(20)]
print(years)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [3]:
#Create an empty dataframe
min_temp = pd.DataFrame(columns = ['state', 'minimum_temperature', 'year','id_state']) 
min_temp

Empty DataFrame
Columns: [state, minimum_temperature, year, id_state]
Index: []

In [4]:
#Createa loop to read the excel file for each year, tranform and concatenete to main df
#Generate a loop to read the file and combine it in a unique df
for year in years:
    #Create the path to each excel file
    path =f"{year}Tmin.xlsx"
    #Read the excel file
    prueba = pd.read_excel (path)
    #Drop national observation
    prueba.drop(prueba.tail(1).index, inplace = True) 
    #Select the columns of interest as a list
    data = [prueba["ENTIDAD"], prueba["ANUAL"]]
    #Cretae the name of the columns
    headers = ["state", "minimum_temperature"]
    #Coherce in a df
    aux = pd.concat(data, axis=1, keys=headers)
    #Add a column with the year 
    aux["year"] = [year] * 32
    aux.sort_values(by=['state'], inplace=True)
    #Lets create a numeric id
    seq_s = [i+1 for i in  range(32)]
    #Lets add it to the df
    aux['id_state'] = seq_s
    #Concatenate in max_tem
    min_temp = pd.concat([min_temp, aux])

In [5]:
min_temp

                  state  minimum_temperature  year id_state
0        AGUASCALIENTES             8.496315  2000        1
1       BAJA CALIFORNIA            10.687024  2000        2
2   BAJA CALIFORNIA SUR            13.695902  2000        3
3              CAMPECHE            19.092887  2000        4
6               CHIAPAS            17.040603  2000        5
..                  ...                  ...   ...      ...
27           TAMAULIPAS            18.900000  2019       28
28             TLAXCALA             7.400000  2019       29
29             VERACRUZ            17.500000  2019       30
30              YUCATÁN            20.800000  2019       31
31            ZACATECAS             9.700000  2019       32

[640 rows x 4 columns]

In [6]:
#Save it
min_temp.to_csv('../minimum_temp.csv', index = False)