# Impact in tourism and economy of the “PUBLOS MÁGICOS” program.
----


## Introduction

The *“Pueblos Mágicos”* program has the objective to transform Mexico, around the 2030, in a leading country in tourism activity. To achieve this, the government proposed as a strategy to recognize tourism as a key element in Mexico's economic development. Diversify tourism products and develop new markets. Promote tourism companies to be competitive nationally and internationally. Develop tourism while respecting natural, cultural and social environments, in this context the program *“Pueblos Mágicos”* was created.

Acording to the **SECTUR**, a magical town (“pueblo mágico”) is a locality that has symbolic attributes, legends, history, transcendent facts, everyday life, etc. In short, they possess magic that appears in each one of their socio cultural manifestations, and today they can be perceived as a great opportunity for tourist use. The Magical Towns Program contributes to revalue a group of populations in the country that have always been in the collective imagination of the nation as a whole and that represent fresh and different alternatives for national and foreign visitors.


### Proposal of an ETL project

Since the main objective of this program is to convert Mexico in leading country on tourism, then it is necessary to create a unique database that captures how does this program has impacted the different localities that has access to this program.

To do so several data sources has to be consulted and aggregated.

1.	The actual list of localities considered as Magic town.

2.	Its contribution to the gross domestic product associated with the Tourism activity at the state and national level since the creation of the first magic town (this info is available yearly)

3.	An indirect measurement of the success could be the variation in the number of hotels and hostels per year in each Magic Town, to do so web scraping is required

4.	Also, it could be important to characterize the weather in each Magic town, in order to do a further analysis about the impact of this variable on the success of the program en each Magic Town

5.	If possible  extract the main festivities or attractive of each Magic town through web scraping.

### Information availability:

1.	List of magical towns with its creation date.

It is a csv file available at: https://datos.gob.mx/busca/dataset/localidades-que-cuentan-con-el-nombramiento-de-pueblo-magico-dggd.  The csv contains three columns which are: “State”, “Locality”, “year”.

2.	The gross domestic product 

It is also a csv file available at the INEGI, in the “Banco de información económica”. It is importat to use constant pesos in order to have comparable quatities. Info is available at: https://www.inegi.org.mx/sistemas/bie/
The query returns a table with a column that encrypts all the info about the state, the and the economic activity, and a column for each required year. The query is exportable as an html, or csv, or xml file.
 

3.	The weather in each magic town
To extract the weather main variable such as mean temperature, cloudinees, etc a web api could be used. However, sicnce there is not enough time we use the statal mean  anual temperatures (max, min, avg) and the statal mean precipitation in $mm/{m^3}$.
Each weather variable for the 2000-2018 years are available in an excel file (*i.e.* there are 80 excel files). Each one has 14 columns, as follows:

    * The first column has the state variable
    * From the second thirtenth column the weather variable for each month of the year
    * The last column has the anual mean weather variable
    
3.	City hotels
In this case a web scraping in a cite of hotels has to be done for each of 113 (more or less) magic towns. It is suggested a google query. This is not done yet.

5.	Magic town characteristics
This could be done through a web scraping in the web site: http://www.sectur.gob.mx/gobmx/pueblos-magicos/. This is not done yet

### Methodology:
The methodology consists on seven steps, described bellow:

1.	Visit the corresponding web pages and if necessary, design the queries

2.  Clean the data bases where necessary

3.	Create and data base diagram

4.	Where necessary create an sql database

5.	Where necessary create a no sql db

6.	Export everything in pyhton

7.	Join info in different tables or in one table as desired.

## Data base diagram
 

After cleanig the databases a diagram is created by using *QUICK DB* available ar https://app.quickdatabasediagrams.com/#/. The result is presented in the following image.

<img src="magic_town_dbd.png">

It has to be noted that this tool does  not allow to create composed primery keys. Therefore, the PostgreeSql has to be done as usual, and not througk the import tool in *QUICK DB*.

## POSTGREE SQL AND PYTHON IMPORTING

In this secction the postgre tables are importend into python and interpreted as a pandas data frame.

In [1]:
#Lets import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from config import pwd #Place to store postgresql pasword
from config import user_name # Place to store the user name for postgresql

In [2]:
#Lets build the database url under the scheme:
#"postgres+psycopg2://<USERNAME>:<PASSWORD>@<IP_ADDRESS>:<PORT>/<DATABASE_NAME>"
DATABASE_URI = f"postgres+psycopg2://{user_name}:{pwd}@localhost:5432/magical_towns_db"

In [3]:
#Lets import the class create_engine from sqalchemy
from sqlalchemy import create_engine
engine = create_engine(DATABASE_URI)

In [4]:
#Lets buIld the connection
conn = engine.connect()

In [5]:
#Lets import the states table into a pandas df
states_db = pd.read_sql("SELECT * FROM states_db", conn)
states_db.head()

  abr_state                state  id_state
0       AGS       AGUASCALIENTES         1
1        BC      BAJA CALIFORNIA         2
2       BCS  BAJA CALIFORNIA SUR         3
3      CAMP             CAMPECHE         4
4      CHIS              CHIAPAS         5

In [6]:
#Lets import the weather table into a pandas df
weather_db = pd.read_sql("SELECT * FROM weather_db", conn)
weather_db.head()

,id_state,state_w,year,precipitation,average_temperature,minimum_temperature,maximum_temperature
0,1,AGUASCALIENTES,2000,417.684444,17.714283,8.496315,26.932250
1,2,BAJA CALIFORNIA,2000,95.783888,18.810071,10.687024,26.933117
2,3,BAJA CALIFORNIA SUR,2000,105.272526,22.146658,13.695902,30.597415
3,4,CAMPECHE,2000,1406.374750,25.879604,19.092887,32.666320
4,5,CHIAPAS,2000,2170.151846,23.534907,17.040603,30.029211

In [7]:
#Lets import the magic town table into a pandas df
magic_town_db = pd.read_sql("SELECT * FROM magic_town_db", conn)
magic_town_db.head()

   id                town             state_mt  year  id_state
0   0    Real de Asientos       AGUASCALIENTES  2006         1
1   1            Calvillo       AGUASCALIENTES  2012         1
2   2  San Jose de Gracia       AGUASCALIENTES  2015         1
3   3              Tecate      BAJA CALIFORNIA  2012         2
4   4        Todos Santos  BAJA CALIFORNIA SUR  2006         3

In [8]:
#Lets import the gdp table into a pandas df
gdp_db = pd.read_sql("SELECT * FROM gdp_db", conn)
gdp_db.head()

   id_state               states  tourism_gdp  year
0         1       AGUASCALIENTES     3009.298  2003
1         2      BAJA CALIFORNIA    12204.779  2003
2         3  BAJA CALIFORNIA SUR     5821.453  2003
3         4             CAMPECHE     3540.521  2003
4         5              CHIAPAS     6052.549  2003

# Doing some queries 

In this section it is presented some queries that could be done with the databases.

In [10]:
#Query 1 Magic Towns per state:

#Group by on state_mt and count the id_state to determine magic towns per state
mt_sate_gb = magic_town_db.groupby('state_mt')
town_per_state = mt_sate_gb['id_state'].count()
town_per_state

state_mt
AGUASCALIENTES         3
BAJA CALIFORNIA        1
BAJA CALIFORNIA SUR    2
CAMPECHE               1
CHIAPAS                4
CHIHUAHUA              3
COAHUILA               6
COLIMA                 1
DURANGO                1
GUANAJUATO             5
GUERRERO               1
HIDALGO                5
JALISCO                7
MEXICO                 9
MICHOACAN              8
MORELOS                2
NAYARIT                2
NUEVO LEON             2
OAXACA                 5
PUEBLA                 9
QUERETARO              5
QUINTANA ROO           3
SAN LUIS POTOSI        2
SINALOA                4
SONORA                 2
TABASCO                1
TAMAULIPAS             2
TLAXCALA               2
VERACRUZ               6
YUCATAN                2
ZACATECAS              5
Name: id_state, dtype: int64

In [14]:
# Query 2 Average State GDP per Magic Town before and after entering as Magic Town:
for index, row in magic_town_db.iterrows():
    
    # Put the town, state and year entered into variable
    state_var = row["id_state"]
    year_var = row["year"]
    town_var = row["town"]
    
    # Caclulate average GDP before and after year entered
    before_df = gdp_db.loc[(gdp_db["year"] <= year_var) & (gdp_db["id_state"] == state_var)].dropna()
    before = before_df["tourism_gdp"].mean()
    
    after_df = gdp_db.loc[(gdp_db["year"] >= year_var) & (gdp_db["id_state"] == state_var)].dropna() 
    after = after_df["tourism_gdp"].mean()
        
    print(f"For {town_var} the yearly average GDP on tourism was {before} before and {after} after joining as a Magic Town in {year_var}\n")

For Real de Asientos the yearly average GDP on tourism was 2743.9207499999998 before and 2960.6037692307696 after joining as a Magic Town in 2006

For Calvillo the yearly average GDP on tourism was 2571.3502999999996 before and 3445.445285714286 after joining as a Magic Town in 2012

For San Jose de Gracia the yearly average GDP on tourism was 2693.8290769230766 before and 3846.11675 after joining as a Magic Town in 2015

For Tecate the yearly average GDP on tourism was 11497.7878 before and 11544.416428571427 after joining as a Magic Town in 2012

For Todos Santos the yearly average GDP on tourism was 9442.339499999998 before and 16170.643 after joining as a Magic Town in 2006

For Loreto the yearly average GDP on tourism was 12416.081299999998 before and 18111.14185714286 after joining as a Magic Town in 2012

For Palizada the yearly average GDP on tourism was 3554.49 before and 4208.78625 after joining as a Magic Town in 2011

For Parras de la Fuente the yearly average GDP on tourism was 4925.977000000001 before and 5639.207600000001 after joining as a Magic Town in 2004

For Cuatrocienegas the yearly average GDP on tourism was 5439.0911 before and 5795.996285714286 after joining as a Magic Town in 2012

For Arteaga the yearly average GDP on tourism was 5439.0911 before and 5795.996285714286 after joining as a Magic Town in 2012

For Viesca the yearly average GDP on tourism was 5439.0911 before and 5795.996285714286 after joining as a Magic Town in 2012

For Candela the yearly average GDP on tourism was 5421.728923076924 before and 6141.88475 after joining as a Magic Town in 2015

For Guerrero the yearly average GDP on tourism was 5421.728923076924 before and 6141.88475 after joining as a Magic Town in 2015

For Comala the yearly average GDP on tourism was nan before and 3233.0465000000004 after joining as a Magic Town in 2002

For San Cristobal de las Casas the yearly average GDP on tourism was 6052.549 before and 5829.0439375000005 after joining as a Magic Town in 2003

For Comitan the yearly average GDP on tourism was 5869.8791 before and 5766.296714285714 after joining as a Magic Town in 2012

For Chiapa de Corzo the yearly average GDP on tourism was 5869.8791 before and 5766.296714285714 after joining as a Magic Town in 2012

For Palenque the yearly average GDP on tourism was 5797.437384615385 before and 5993.93325 after joining as a Magic Town in 2015

For Creel the yearly average GDP on tourism was 8192.136199999999 before and 7747.315500000001 after joining as a Magic Town in 2007

For Batopilas the yearly average GDP on tourism was 8106.641200000001 before and 7507.715428571429 after joining as a Magic Town in 2012

For Casas Grandes the yearly average GDP on tourism was 7911.658923076923 before and 7861.845249999999 after joining as a Magic Town in 2015

For Mapimi the yearly average GDP on tourism was 2189.0117 before and 2413.087142857143 after joining as a Magic Town in 2012

For Dolores Hidalgo Cuna de la Independencia Nacional the yearly average GDP on tourism was nan before and 10423.5833125 after joining as a Magic Town in 2002

For Mineral de Pozos the yearly average GDP on tourism was 9496.2808 before and 11739.611857142856 after joining as a Magic Town in 2012

For Jalpa the yearly average GDP on tourism was 9496.2808 before and 11739.611857142856 after joining as a Magic Town in 2012

For Salvatierra the yearly average GDP on tourism was 9496.2808 before and 11739.611857142856 after joining as a Magic Town in 2012

For Yuriria the yearly average GDP on tourism was 9496.2808 before and 11739.611857142856 after joining as a Magic Town in 2012

For Taxco the yearly average GDP on tourism was nan before and 12670.103187499999 after joining as a Magic Town in 2002

For Real del Monte the yearly average GDP on tourism was 3429.938 before and 3311.936666666667 after joining as a Magic Town in 2004

For Huasca de Ocampo the yearly average GDP on tourism was nan before and 3328.8370625 after joining as a Magic Town in 2001

For  Mineral del Chico the yearly average GDP on tourism was 2877.943666666667 before and 3776.472375 after joining as a Magic Town in 2011

For Huichapan the yearly average GDP on tourism was 2921.647 before and 3908.557142857143 after joining as a Magic Town in 2012

For Tecozahutla the yearly average GDP on tourism was 3132.6296923076925 before and 4224.0295 after joining as a Magic Town in 2015

For  Mazamitla the yearly average GDP on tourism was 23138.29133333333 before and 26571.42778571429 after joining as a Magic Town in 2005

For Tapalpa the yearly average GDP on tourism was nan before and 26090.3593125 after joining as a Magic Town in 2002

For Tequila the yearly average GDP on tourism was 23282.562 before and 26090.3593125 after joining as a Magic Town in 2003

For San Sebastian del Oeste the yearly average GDP on tourism was 23634.507777777777 before and 28501.39025 after joining as a Magic Town in 2011

For Lagos de Moreno the yearly average GDP on tourism was 23670.792 before and 29247.882714285715 after joining as a Magic Town in 2012

For Mascota the yearly average GDP on tourism was 24662.018384615385 before and 31366.339500000002 after joining as a Magic Town in 2015

For Talpa de Allende the yearly average GDP on tourism was 24662.018384615385 before and 31366.339500000002 after joining as a Magic Town in 2015

For  Malinalco the yearly average GDP on tourism was 19873.609375 before and 19545.218999999997 after joining as a Magic Town in 2010

For Tepotzotlan the yearly average GDP on tourism was nan before and 19771.974125 after joining as a Magic Town in 2002

For Valle de Bravo the yearly average GDP on tourism was 18114.168333333335 before and 19994.359714285714 after joining as a Magic Town in 2005

For El Oro the yearly average GDP on tourism was 19911.024222222222 before and 19670.338874999998 after joining as a Magic Town in 2011

For Metepec the yearly average GDP on tourism was 19904.387 before and 19593.195428571427 after joining as a Magic Town in 2012

For Aculco the yearly average GDP on tourism was 19792.87953846154 before and 19321.20725 after joining as a Magic Town in 2015

For Ixtapan de la Sal the yearly average GDP on tourism was 19792.87953846154 before and 19321.20725 after joining as a Magic Town in 2015

For Teotihuacan y San Martin de las Piramides the yearly average GDP on tourism was 19792.87953846154 before and 19321.20725 after joining as a Magic Town in 2015

For Villa del Carbon the yearly average GDP on tourism was 19792.87953846154 before and 19321.20725 after joining as a Magic Town in 2015

For Cuitzeo the yearly average GDP on tourism was 7892.0485 before and 7076.899384615384 after joining as a Magic Town in 2006

For Patzcuaro the yearly average GDP on tourism was nan before and 7235.0288125 after joining as a Magic Town in 2002

For Santa Clara del Cobre the yearly average GDP on tourism was 7722.0605 before and 6826.828888888889 after joining as a Magic Town in 2010

For Tlalpujahua the yearly average GDP on tourism was 7920.256333333334 before and 7210.780428571428 after joining as a Magic Town in 2005

For Mineral de Angangueo the yearly average GDP on tourism was 7531.6206999999995 before and 6748.3132857142855 after joining as a Magic Town in 2012

For Tacambaro the yearly average GDP on tourism was 7531.6206999999995 before and 6748.3132857142855 after joining as a Magic Town in 2012

For Jiquilpan the yearly average GDP on tourism was 7531.6206999999995 before and 6748.3132857142855 after joining as a Magic Town in 2012

For Tzintzuntzan the yearly average GDP on tourism was 7531.6206999999995 before and 6748.3132857142855 after joining as a Magic Town in 2012

For Tepoztlan the yearly average GDP on tourism was nan before and 5217.0818125000005 after joining as a Magic Town in 2002

For Tlayacapan the yearly average GDP on tourism was 5313.416444444443 before and 5010.210625 after joining as a Magic Town in 2011

For Jala the yearly average GDP on tourism was 8730.6371 before and 12354.005000000001 after joining as a Magic Town in 2012

For  Sayulita the yearly average GDP on tourism was 9297.752153846155 before and 14764.54825 after joining as a Magic Town in 2015

For Santiago the yearly average GDP on tourism was 16167.811 before and 16247.391769230771 after joining as a Magic Town in 2006

For Linares the yearly average GDP on tourism was 15622.809153846154 before and 18315.142 after joining as a Magic Town in 2015

For Capul lpam de Mendez the yearly average GDP on tourism was 6517.277999999999 before and 7100.9895 after joining as a Magic Town in 2007

For Huautla de Jimenez the yearly average GDP on tourism was 6752.086 before and 7856.807999999999 after joining as a Magic Town in 2015

For Mazunte the yearly average GDP on tourism was 6752.086 before and 7856.807999999999 after joining as a Magic Town in 2015

For San Pablo Villa de Mitla the yearly average GDP on tourism was 6752.086 before and 7856.807999999999 after joining as a Magic Town in 2015

For San Pedro y San Pablo Teposcolula the yearly average GDP on tourism was 6752.086 before and 7856.807999999999 after joining as a Magic Town in 2015

For Cuetzalan del Progreso the yearly average GDP on tourism was nan before and 7953.7805625 after joining as a Magic Town in 2002

For  Zacatlan the yearly average GDP on tourism was 6762.127444444445 before and 9120.43575 after joining as a Magic Town in 2011

For Pahuatlan the yearly average GDP on tourism was 6806.243700000001 before and 9485.906 after joining as a Magic Town in 2012

For Chignahuapan the yearly average GDP on tourism was 6806.243700000001 before and 9485.906 after joining as a Magic Town in 2012

For Cholula the yearly average GDP on tourism was 6806.243700000001 before and 9485.906 after joining as a Magic Town in 2012

For Tlatlauquitepec the yearly average GDP on tourism was 6806.243700000001 before and 9485.906 after joining as a Magic Town in 2012

For Xicotepec the yearly average GDP on tourism was 6806.243700000001 before and 9485.906 after joining as a Magic Town in 2012

For Atlixco the yearly average GDP on tourism was 7370.734230769231 before and 10374.65475 after joining as a Magic Town in 2015

For  Huahuchinango the yearly average GDP on tourism was 7370.734230769231 before and 10374.65475 after joining as a Magic Town in 2015

For Bernal the yearly average GDP on tourism was 4564.122 before and 5937.161928571428 after joining as a Magic Town in 2005

For Jalpan de Serra the yearly average GDP on tourism was 4818.86625 before and 6516.298111111111 after joining as a Magic Town in 2010

For Cadereyta de Montes the yearly average GDP on tourism was 4872.745666666667 before and 6698.98925 after joining as a Magic Town in 2011

For Tequisquiapan the yearly average GDP on tourism was 4953.0318 before and 6898.304714285715 after joining as a Magic Town in 2012

For San Joaquin the yearly average GDP on tourism was 5281.39923076923 before and 7543.794749999999 after joining as a Magic Town in 2015

For Bacalar the yearly average GDP on tourism was 32845.99375 before and 50492.70753846154 after joining as a Magic Town in 2006

For Isla Mujeres  the yearly average GDP on tourism was 43312.66938461538 before and 63392.772750000004 after joining as a Magic Town in 2015

For Tulum the yearly average GDP on tourism was 43312.66938461538 before and 63392.772750000004 after joining as a Magic Town in 2015

For Real de Catorce the yearly average GDP on tourism was nan before and 5185.9800625 after joining as a Magic Town in 2001

For Xilitla the yearly average GDP on tourism was 5207.222777777777 before and 5104.07475 after joining as a Magic Town in 2011

For Cosal  the yearly average GDP on tourism was 8569.137666666667 before and 9908.956357142857 after joining as a Magic Town in 2005

For El Fuerte the yearly average GDP on tourism was 9467.885571428571 before and 9815.1143 after joining as a Magic Town in 2009

For El Rosario the yearly average GDP on tourism was 9368.2196 before and 9970.603714285713 after joining as a Magic Town in 2012

For Mocorito the yearly average GDP on tourism was 9411.197538461538 before and 10625.834749999998 after joining as a Magic Town in 2015

For  Alamos the yearly average GDP on tourism was 7358.553333333333 before and 7921.70757142857 after joining as a Magic Town in 2005

For Magdalena de Kino the yearly average GDP on tourism was 7700.4636 before and 8016.744142857143 after joining as a Magic Town in 2012

For Tapijulapa the yearly average GDP on tourism was 5620.80775 before and 5198.562888888889 after joining as a Magic Town in 2010

For  Mier the yearly average GDP on tourism was 6642.469200000001 before and 6430.5261666666665 after joining as a Magic Town in 2007

For Tula the yearly average GDP on tourism was 6338.694333333335 before and 6530.304375000001 after joining as a Magic Town in 2011

For Huamantla the yearly average GDP on tourism was 2494.5314 before and 1425.0768333333335 after joining as a Magic Town in 2007

For Tlaxco the yearly average GDP on tourism was 1785.1351538461536 before and 1522.51325 after joining as a Magic Town in 2015

For Coatepec the yearly average GDP on tourism was 16956.52525 before and 13144.453692307692 after joining as a Magic Town in 2006

For Xico the yearly average GDP on tourism was 15146.914222222222 before and 12195.951375 after joining as a Magic Town in 2011

For Papantla the yearly average GDP on tourism was 14918.0375 before and 12170.015428571427 after joining as a Magic Town in 2012

For Orizaba the yearly average GDP on tourism was 14457.507307692307 before and 11462.060749999999 after joining as a Magic Town in 2015

For Zozocolco the yearly average GDP on tourism was 14457.507307692307 before and 11462.060749999999 after joining as a Magic Town in 2015

For Coscomatepec the yearly average GDP on tourism was 14457.507307692307 before and 11462.060749999999 after joining as a Magic Town in 2015

For Izamal the yearly average GDP on tourism was nan before and 5390.41575 after joining as a Magic Town in 2002

For Valladolid the yearly average GDP on tourism was 5318.848199999999 before and 5492.6181428571435 after joining as a Magic Town in 2012

For Jerez de Garcia Salinas the yearly average GDP on tourism was 2232.3451999999997 before and 2386.4474999999998 after joining as a Magic Town in 2007

For Teul de Gonz lez Ortega the yearly average GDP on tourism was 2268.673444444444 before and 2380.21625 after joining as a Magic Town in 2011

For Sombrerete the yearly average GDP on tourism was 2257.4476999999997 before and 2427.5642857142852 after joining as a Magic Town in 2012

For Pinos the yearly average GDP on tourism was 2257.4476999999997 before and 2427.5642857142852 after joining as a Magic Town in 2012

For Nochistlan the yearly average GDP on tourism was 2257.4476999999997 before and 2427.5642857142852 after joining as a Magic Town in 2012

In [15]:
# Query 3 Average weather per Magic Town:
average_weather_df = weather_db
# Calculate the yearly average of the weather per state
per_mean = average_weather_df.groupby(["id_state"])["precipitation"].mean()
avg_temp_mean = average_weather_df.groupby(["id_state"])["average_temperature"].mean()
min_temp_mean = average_weather_df.groupby(["id_state"])["minimum_temperature"].mean()
max_temp_mean = average_weather_df.groupby(["id_state"])["maximum_temperature"].mean()
# Create summary table of average weather
average_weather_df = pd.DataFrame({
    "precipitation" : per_mean,
    "average_temperature" : avg_temp_mean,
    "minimum_temperature" : min_temp_mean, 
    "maximum_temperature" : max_temp_mean,
})
average_weather_df = average_weather_df.round(2)
average_weather_df = average_weather_df.reset_index()
# Merge magic town db with the average weather df on ID state (as we do not have information available on town level)
mt_weather_df = magic_town_db.merge(average_weather_df, on='id_state')
# Filter necessary data
mt_weather = mt_weather_df[['id', 'town', 'state_mt', 'precipitation', 'average_temperature', 'minimum_temperature', 'maximum_temperature']]
mt_weather = mt_weather.set_index('id')
mt_weather

,town,state_mt,precipitation,average_temperature,minimum_temperature,maximum_temperature
id,,,,,,
0,Real de Asientos,AGUASCALIENTES,561.48,17.89,9.11,26.68
1,Calvillo,AGUASCALIENTES,561.48,17.89,9.11,26.68
2,San Jose de Gracia,AGUASCALIENTES,561.48,17.89,9.11,26.68
3,Tecate,BAJA CALIFORNIA,187.75,19.95,12.75,27.15
4,Todos Santos,BAJA CALIFORNIA SUR,206.67,23.24,16.05,30.42
...,...,...,...,...,...,...
106,Jerez de Garcia Salinas,ZACATECAS,517.31,17.20,8.47,25.95
107,Teul de Gonz lez Ortega,ZACATECAS,517.31,17.20,8.47,25.95
108,Sombrerete,ZACATECAS,517.31,17.20,8.47,25.95
109,Pinos,ZACATECAS,517.31,17.20,8.47,25.95
110,Nochistlan,ZACATECAS,517.31,17.20,8.47,25.95