# Maximum temperature

The maximum temperature (°C) data for the 32 Mexico's states for the years 2000-2019 are stored in different excel files. Each excel file has 14 columns: one for the state, one for each moth and one for the anual average maximum temperature. It also has 33 rows, one for the National maximum temperature and the other ones for the states.
In this notebook the 20 excel files are read as pandas dataframes. For each dataframe, which corresponds to a year, the columns that contain the state and the anual maximum temperature avaerage are selected and coherced into a new pandas dataframe.  Then, a colum named year is added. Each dataframe is concatenated with the last one, ending up with a dataframe with three columns and 640 observations. This is achieved through a for loop.
All data is provided by CONAGUA at the web page: https://datos.gob.mx/busca/dataset/temperatura-maxima-excel

In [1]:
#Call the dependencies
import pandas as pd

In [2]:
#Let's create a list of the years of interest
years =  [2000+i for i in range(20)]
print(years)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [3]:
#Create an empty dataframe
max_temp = pd.DataFrame(columns = ['state', 'maximum_temperature', 'year','id_state']) 
max_temp

Empty DataFrame
Columns: [state, maximum_temperature, year, id_state]
Index: []

In [4]:
#Createa loop to read the excel file for each year, tranform and concatenete to main df
#Generate a loop to read the file and combine it in a unique df
for year in years:
    #Create the path to each excel file
    path =f"{year}Tmax.xlsx"
    #Read the excel file
    prueba = pd.read_excel (path)
    #Drop national observation
    prueba.drop(prueba.tail(1).index, inplace = True) 
    #Select the columns of interest as a list
    data = [prueba["ENTIDAD"], prueba["ANUAL"]]
    #Cretae the name of the columns
    headers = ["state", "maximum_temperature"]
    #Coherce in a df
    aux = pd.concat(data, axis=1, keys=headers)
    #Add a column with the year 
    aux["year"] = [year] * 32
    aux.sort_values(by=['state'], inplace=True)
    #Lets create a numeric id
    seq_s = [i+1 for i in  range(32)]
    #Lets add it to the df
    aux['id_state'] = seq_s
    #Concatenate in max_tem
    max_temp = pd.concat([max_temp, aux])

In [5]:
max_temp

                  state  maximum_temperature  year id_state
0        AGUASCALIENTES            26.932250  2000        1
1       BAJA CALIFORNIA            26.933117  2000        2
2   BAJA CALIFORNIA SUR            30.597415  2000        3
3              CAMPECHE            32.666320  2000        4
6               CHIAPAS            30.029211  2000        5
..                  ...                  ...   ...      ...
27           TAMAULIPAS            31.200000  2019       28
28             TLAXCALA            24.300000  2019       29
29             VERACRUZ            29.100000  2019       30
30              YUCATÁN            33.800000  2019       31
31            ZACATECAS            27.000000  2019       32

[640 rows x 4 columns]

In [6]:
#Save it
max_temp.to_csv('../maximum_temp.csv', index = False)