# Generating an id for the states.

In this notebook it is created a dataframe that is going to contain the abreviation of the states name, the name and a number that is going to work as a primary key.
This is necesarry, cince in all of our data the names of the states are writen differet.

In [6]:
import pandas as pd

In [7]:
#Lets call the rain df
states = pd.read_csv("states_abbreviation.csv")
states.head()

  abbr_state                state
0        AGS       AGUASCALIENTES
1         BC      BAJA CALIFORNIA
2        BCS  BAJA CALIFORNIA SUR
3       CAMP             CAMPECHE
4       CHIH            CHIHUAHUA

In [8]:
#lETS order by name
states.sort_values(by=['state'], inplace=True)
states

   abbr_state                state
0         AGS       AGUASCALIENTES
1          BC      BAJA CALIFORNIA
2         BCS  BAJA CALIFORNIA SUR
3        CAMP             CAMPECHE
5        CHIS              CHIAPAS
4        CHIH            CHIHUAHUA
8          DF     CIUDAD DE MEXICO
6        COAH             COAHUILA
7         COL               COLIMA
9         DGO              DURANGO
14        MEX     ESTADO DE MEXICO
11        GTO           GUANAJUATO
10        GRO              GUERREO
12        HGO              HIDALGO
13        JAL              JALISCO
15       MICH            MICHOACAN
16        MOR              MORELOS
17        NAY              NAYARIT
18         NL           NUEVO LEON
19        OAX               OAXACA
20        PUE               PUEBLA
21        QRO            QUERETARO
22       QROO         QUINTANA ROO
24        SLP      SAN LUIS POTOSI
23        SIN              SINALOA
25        SON               SONORA
26        TAB              TABASCO
27       TAMS           TAMAULIPAS
28       TLAX             TLAXCALA
29        VER             VERACRUZ
30        YUC              YUCATAN
31        ZAC            ZACATECAS

In [11]:
#Lets create a numeric id
seq_s = [i+1 for i in  range(32)]
#Lets add it to the df
states['id_state'] = seq_s
states = states[['id_state', 'state', 'abbr_state']]
states.rename(columns={"id_state":"id"}, inplace=True)
#call the df
states

<ipython-input-11-b9feb3a37dd5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  states['id_state'] = seq_s

    id                state abbr_state
0    1       AGUASCALIENTES        AGS
1    2      BAJA CALIFORNIA         BC
2    3  BAJA CALIFORNIA SUR        BCS
3    4             CAMPECHE       CAMP
5    5              CHIAPAS       CHIS
4    6            CHIHUAHUA       CHIH
8    7     CIUDAD DE MEXICO         DF
6    8             COAHUILA       COAH
7    9               COLIMA        COL
9   10              DURANGO        DGO
14  11     ESTADO DE MEXICO        MEX
11  12           GUANAJUATO        GTO
10  13              GUERREO        GRO
12  14              HIDALGO        HGO
13  15              JALISCO        JAL
15  16            MICHOACAN       MICH
16  17              MORELOS        MOR
17  18              NAYARIT        NAY
18  19           NUEVO LEON         NL
19  20               OAXACA        OAX
20  21               PUEBLA        PUE
21  22            QUERETARO        QRO
22  23         QUINTANA ROO       QROO
24  24      SAN LUIS POTOSI        SLP
23  25              SINALOA        SIN
25  26               SONORA        SON
26  27              TABASCO        TAB
27  28           TAMAULIPAS       TAMS
28  29             TLAXCALA       TLAX
29  30             VERACRUZ        VER
30  31              YUCATAN        YUC
31  32            ZACATECAS        ZAC

In [5]:
#Lets save it
states.to_csv('../data/states_ids.csv', index = False)