# Merging weather variables.

In this notebook four csv is joined as one single table conatinen four weather  at a state level in 2019, which are:

1. Precipitation in mm annualy

2. Maximum temperature in °C annualy

3. Minimum temperature in °C annualy

4. Mean temperature in °C annualy

In [129]:
import pandas as pd

In [130]:
path = "rain_2019.csv"
print(path)

rain_2019.csv

In [131]:
rain_df = pd.read_csv("rain_2019.csv",delimiter=",", encoding='utf-8')
rain_df.head()

,Entidad,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Anual
0,Aguascalientes,11.3,0.0,0.4,0.0,2.5,45.7,101.3,123.4,78.1,40.5,33.7,16.2,453.1
1,Baja California,17.8,49.5,13.4,1.2,5.6,0.0,5.1,3.0,14.0,1.9,53.1,41.6,206.1
2,Baja California Sur,11.1,3.1,6.1,0.0,0.6,0.0,6.9,31.9,60.0,45.1,91.1,14.7,270.6
3,Campeche,26.7,14.2,34.6,32.7,72.6,250.9,156.8,124.7,182.8,235.3,90.5,81.4,1303.2
4,Coahuila,6.9,0.6,11.3,12.3,30.8,49.9,22.3,21.5,60.6,19.6,22.1,3.6,261.5

In [132]:
temp_max_df = pd.read_csv("temp_max_2019.csv",delimiter=",", encoding='utf-8')
temp_max_df.head()

,Entidad,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Anual
0,Aguascalientes,23.1,26.7,29.3,29.8,32.1,30.8,28.6,28.4,26.8,26.0,24.4,22.6,27.4
1,Baja California,20.4,17.9,22.2,27.6,26.4,30.6,32.7,35.3,31.8,28.5,24.3,19.0,26.4
2,Baja California Sur,25.2,24.7,27.6,29.7,29.2,33.1,35.4,35.4,33.6,31.9,28.2,25.2,29.9
3,Campeche,29.4,33.2,33.5,35.6,37.7,35.8,35.0,35.3,34.3,33.2,31.1,29.9,33.7
4,Coahuila,20.6,24.7,25.5,31.2,33.0,35.0,35.6,37.6,33.6,30.1,24.7,22.9,29.5

In [133]:
temp_min_df = pd.read_csv("temp_min_2019.csv",delimiter=",", encoding='utf-8')
temp_min_df.head()

,Entidad,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Anual
0,Aguascalientes,4.8,7.1,8.7,9.4,12.6,15.7,14.2,13.4,12.2,11.3,8.9,5.0,10.3
1,Baja California,8.0,6.5,9.0,13.2,14.3,17.6,18.5,20.9,18.8,13.6,11.4,8.2,13.3
2,Baja California Sur,12.1,12.1,13.0,15.3,15.9,19.9,23.9,24.6,23.2,19.4,17.3,12.6,17.4
3,Campeche,17.2,20.0,20.2,21.8,24.5,24.0,23.0,23.3,23.2,23.2,20.9,18.5,21.7
4,Coahuila,6.4,9.6,12.1,14.5,19.8,21.5,21.7,23.4,21.2,15.5,10.5,6.4,15.2

In [134]:
temp_mean_df = pd.read_csv("temp_mean_2019.csv",delimiter=",", encoding='utf-8')
temp_mean_df.head()

,Entidad,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic,Anual
0,Aguascalientes,14.0,16.9,19.0,19.6,22.3,23.2,21.4,20.9,19.5,18.6,16.7,13.8,18.8
1,Baja California,14.3,12.2,15.6,20.4,20.4,24.1,25.6,28.1,25.3,21.0,17.9,13.6,19.9
2,Baja California Sur,18.7,18.4,20.3,22.5,22.6,26.5,29.6,30.0,28.4,25.6,22.8,18.9,23.7
3,Campeche,23.3,26.6,26.9,28.7,31.1,29.9,29.0,29.3,28.7,28.2,26.0,24.2,27.7
4,Coahuila,13.5,17.1,18.8,22.8,26.4,28.3,28.7,30.5,27.4,22.8,17.6,14.7,22.4

In [135]:
#Let's get the anual one and rename it
rain_df2 = rain_df[["Entidad", "Anual"]]
rain_df2.rename(columns={"Anual":"Precipitation"}, inplace=True)
rain_df2.head()

               Entidad  Precipitation
0       Aguascalientes          453.1
1      Baja California          206.1
2  Baja California Sur          270.6
3             Campeche         1303.2
4             Coahuila          261.5

In [136]:
#Lets get the anual one and rename it
max_temp_df = temp_max_df[["Entidad", "Anual"]]
max_temp_df.rename(columns={"Anual":"Max_Temp"}, inplace=True)
max_temp_df.head()

               Entidad  Max_Temp
0       Aguascalientes      27.4
1      Baja California      26.4
2  Baja California Sur      29.9
3             Campeche      33.7
4             Coahuila      29.5

In [137]:
#Lets get the anual one and rename it
min_temp_df = temp_min_df[["Entidad", "Anual"]]
min_temp_df.rename(columns={"Anual":"Min_Temp"}, inplace=True)
min_temp_df.head()

               Entidad  Min_Temp
0       Aguascalientes      10.3
1      Baja California      13.3
2  Baja California Sur      17.4
3             Campeche      21.7
4             Coahuila      15.2

In [138]:
#Lets get the anual one and rename it
avg_temp_df = temp_mean_df[["Entidad", "Anual"]]
avg_temp_df.rename(columns={"Anual":"Avg_Temp"}, inplace=True)
avg_temp_df.head()

               Entidad  Avg_Temp
0       Aguascalientes      18.8
1      Baja California      19.9
2  Baja California Sur      23.7
3             Campeche      27.7
4             Coahuila      22.4

In [139]:
#Lets merge it
aux = pd.merge(rain_df2, max_temp_df, how="outer", on="Entidad")

In [140]:
aux2 = pd.merge(aux, min_temp_df, how = "outer", on="Entidad")

In [141]:
weather_df = pd.merge(aux2, avg_temp_df, how = "outer", on="Entidad")
weather_df.head()

               Entidad  Precipitation  Max_Temp  Min_Temp  Avg_Temp
0       Aguascalientes          453.1      27.4      10.3      18.8
1      Baja California          206.1      26.4      13.3      19.9
2  Baja California Sur          270.6      29.9      17.4      23.7
3             Campeche         1303.2      33.7      21.7      27.7
4             Coahuila          261.5      29.5      15.2      22.4

In [142]:
weather_df.rename(columns={"Entidad":"state"}, inplace=True)

In [143]:
#Lets save it
weather_df.to_csv('../data/weather.csv', index = False)

In [144]:
#Lets call the rain df
states = pd.read_csv("lluvia_ene.csv")
states.head()

,LON,LAT,EDO,CLAVE_SIH,ENE,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,-102.309722,21.895000,AGS,AGSAG,6.61,NaN,NaN,NaN,NaN,NaN
1,-102.466944,22.188611,AGS,ANVAG,10.60,NaN,NaN,NaN,NaN,NaN
2,-102.184167,21.738611,AGS,BRTAG,10.50,NaN,NaN,NaN,NaN,NaN
3,-102.712222,21.849167,AGS,CALVILLO,18.17,NaN,NaN,NaN,NaN,NaN
4,-102.676944,21.997500,AGS,CDRAG,16.70,NaN,NaN,NaN,NaN,NaN

In [145]:
#lETS extract unique values
abreviations = states.EDO.unique() 
abre = abreviations.tolist()
abre

['AGS',
 'BC',
 'BCS',
 'CAMP',
 'CHIH',
 'CHIS',
 'COAH',
 'COL',
 'DF',
 'DGO',
 'GRO',
 'GTO',
 'HGO',
 'JAL',
 'MEX',
 'MICH',
 'MOR',
 'NAY',
 'NL',
 'OAX',
 'PUE',
 'QRO',
 'QROO',
 'SIN',
 'SLP',
 'SON',
 'TAB',
 'TAMS',
 'TLAX',
 'VER',
 'YUC',
 'ZAC']

In [146]:
#states_names = weather_df.state.unique()
names = weather_df["state"].tolist()
names.pop()
names

['Aguascalientes',
 'Baja California',
 'Baja California Sur',
 'Campeche',
 'Coahuila',
 'Colima',
 'Chiapas',
 'Chihuahua',
 'Ciudad de Mexico',
 'Durango',
 'Guanajuato',
 'Guerrero',
 'Hidalgo',
 'Jalisco',
 'Estado de Mexico',
 'Michoacan',
 'Morelos',
 'Nayarit',
 'Nuevo Leon',
 'Oaxaca',
 'Puebla',
 'Queretaro',
 'Quintana Roo',
 'San Luis Potosi',
 'Sinaloa',
 'Sonora',
 'Tabasco',
 'Tamaulipas',
 'Tlaxcala',
 'Veracruz',
 'Yucatan',
 'Zacatecas']

In [147]:
#Lets join it with the group
states_df = pd.DataFrame({"id_state": abre , "state" : names})

In [148]:
states_df

   id_state                state
0       AGS       Aguascalientes
1        BC      Baja California
2       BCS  Baja California Sur
3      CAMP             Campeche
4      CHIH             Coahuila
5      CHIS               Colima
6      COAH              Chiapas
7       COL            Chihuahua
8        DF     Ciudad de Mexico
9       DGO              Durango
10      GRO           Guanajuato
11      GTO             Guerrero
12      HGO              Hidalgo
13      JAL              Jalisco
14      MEX     Estado de Mexico
15     MICH            Michoacan
16      MOR              Morelos
17      NAY              Nayarit
18       NL           Nuevo Leon
19      OAX               Oaxaca
20      PUE               Puebla
21      QRO            Queretaro
22     QROO         Quintana Roo
23      SIN      San Luis Potosi
24      SLP              Sinaloa
25      SON               Sonora
26      TAB              Tabasco
27     TAMS           Tamaulipas
28     TLAX             Tlaxcala
29      VER             Veracruz
30      YUC              Yucatan
31      ZAC            Zacatecas

In [149]:
#Lets rewrite the two that are inverted
states_df.at[4,'state']= 'Chihuahua'
states_df.at[5,'state'] = 'Chiapas'
states_df.at[6, 'state']= "Coahuila"
states_df.at[7, 'state']= "Colima"
states_df.at[10, 'state']= "Guerrero"
states_df.at[11, 'state']= "Guanajuato"
states_df.at[23,'state']= 'Sinaloa'
states_df.at[24, 'state']= "San Luis Potosi"

In [150]:
states_df

   id_state                state
0       AGS       Aguascalientes
1        BC      Baja California
2       BCS  Baja California Sur
3      CAMP             Campeche
4      CHIH            Chihuahua
5      CHIS              Chiapas
6      COAH             Coahuila
7       COL               Colima
8        DF     Ciudad de Mexico
9       DGO              Durango
10      GRO             Guerrero
11      GTO           Guanajuato
12      HGO              Hidalgo
13      JAL              Jalisco
14      MEX     Estado de Mexico
15     MICH            Michoacan
16      MOR              Morelos
17      NAY              Nayarit
18       NL           Nuevo Leon
19      OAX               Oaxaca
20      PUE               Puebla
21      QRO            Queretaro
22     QROO         Quintana Roo
23      SIN              Sinaloa
24      SLP      San Luis Potosi
25      SON               Sonora
26      TAB              Tabasco
27     TAMS           Tamaulipas
28     TLAX             Tlaxcala
29      VER             Veracruz
30      YUC              Yucatan
31      ZAC            Zacatecas

In [151]:
#Lets save it
states_df.to_csv('../data/states_ids.csv', index = False)