# Mean or anual average temperature

In this notebook 20 excel files are read as panda's dataframes. For each dataframe, which corresponds to a year, the columns that contain the state and the anual average temperature (°C) are selected and coherced into a new pandas dataframe.  Then, a colum named year is added. Each dataframe is concatenated with the last one, ending up with a dataframe with three columns and 640 observations. This is achieved through a for loop.

Data is provided by CONAGUA, and it is available at: https://datos.gob.mx/busca/dataset/temperatura-promedio-excel

In [1]:
#Call the dependencies
import pandas as pd

In [2]:
#Let's create a list of the years of interest
years =  [2000+i for i in range(20)]
print(years)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [3]:
#Create an empty dataframe
avg_temp = pd.DataFrame(columns = ['state', 'average_temperature', 'year', 'id_state']) 
avg_temp

Empty DataFrame
Columns: [state, average_temperature, year, id_state]
Index: []

In [4]:
#Createa loop to read the excel file for each year, tranform and concatenete to main df
#Generate a loop to read the file and combine it in a unique df
for year in years:
    #Create the path to each excel file
    path =f"{year}Tmed.xlsx"
    #Read the excel file
    prueba = pd.read_excel (path)
    #Drop national observation
    prueba.drop(prueba.tail(1).index, inplace = True) 
    #Select the columns of interest as a list
    data = [prueba["ENTIDAD"], prueba["ANUAL"]]
    #Cretae the name of the columns
    headers = ["state", "average_temperature"]
    #Coherce in a df
    aux = pd.concat(data, axis=1, keys=headers)
    #Add a column with the year 
    aux["year"] = [year] * 32
    aux.sort_values(by=['state'], inplace=True)
    #Lets create a numeric id
    seq_s = [i+1 for i in  range(32)]
    #Lets add it to the df
    aux['id_state'] = seq_s
    #Concatenate in max_tem
    avg_temp = pd.concat([avg_temp, aux])

In [5]:
avg_temp

                  state  average_temperature  year id_state
0        AGUASCALIENTES            17.714283  2000        1
1       BAJA CALIFORNIA            18.810071  2000        2
2   BAJA CALIFORNIA SUR            22.146658  2000        3
3              CAMPECHE            25.879604  2000        4
6               CHIAPAS            23.534907  2000        5
..                  ...                  ...   ...      ...
27           TAMAULIPAS            25.100000  2019       28
28             TLAXCALA            15.800000  2019       29
29             VERACRUZ            23.300000  2019       30
30              YUCATÁN            27.300000  2019       31
31            ZACATECAS            18.300000  2019       32

[640 rows x 4 columns]

In [6]:
#Save it
avg_temp.to_csv('../average_temp.csv', index = False)